input.text, input.search, textarea.textarea, .wufoo input.text, .wufoo textarea.textarea, input.medium, select.medium, input.text, input.search, textarea.textarea, input.text, input.search, input.file, textarea.textarea, select.select {
	width:400px;
	height:35px;
	font-size:16px;
	 -webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
	 border-radius: 10px; 
}

body {
	background-color:red;
}